* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
    --items-move: all .7s ease-in-out;
    background-color: #fae1dd;
}

#main {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    display: grid;
    place-items: center;
    border-radius: 25px;
    box-shadow: 0 0 20px #00000031;

}

#button-container {
    width: 200px;
    height: 50px;
    position: relative;
}

#button:hover {
    box-shadow: 0 10px 0 #000;
    transform: translateY(-10px);
}

#button {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: none;
    background-color: #00E0FF;
    transition: all ease .3s;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow-x: hidden;
    cursor: pointer;

}

#button #cartIcon {
    font-size: 24px;
    margin-right: 10px;
    transition: var(--items-move);
}

#first {
    font-size: 18px;
    font-weight: 700;
    transition: var(--items-move);
}

#second {
    position: absolute;
    left: -150px;
    width: fit-content;
    font-size: 18px;
    font-weight: 700;
    transition: var(--items-move);
}

#bag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    color: red;
    opacity: 0;
    animation: 1.5s ease 1 forwards;
}

@keyframes throwBag {
    0% {
        top: 50%;
        opacity: .1;
    }

    50% {
        top: -50px;
        scale: 1.3;
        rotate: -0deg;
        opacity: 1;
    }

    90% {
        opacity: .1;
    }

    100% {
        z-index: 10;
        opacity: 0;
    }

}

/* navigation  */
#nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
}

#nav a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    /* display: block; */
}

#nav a i {
    margin-right: 20px;
}

/* project details  */
.project-details {
    position: absolute;
    top: 50px;
    left: 0;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
}

.project-details h1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.project-details p {
    font-style: italic;
    font-size: 14px;
}

.project-details .links {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.project-details .links a {
    font-size: 28px;
    text-decoration: none;
    color: #000;
    transition: all .2s ease;
    margin-bottom: 5px;

}

.project-details .links a span {
    font-size: 12px;
    padding: 0 10px;
    text-transform: capitalize;
}

.project-details .links a:hover {
    color: red;
    scale: 1.3;
}

/* thanking   */

.thanking {
    position: absolute;
    top: 50px;
    right: 20px;
}

.thanking p {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

.thanking p i {
    margin-left: 10px;
}

/* note  */
.note {
    position: absolute;
    bottom: 20px;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;

}